@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

#maincontent {
  overflow-x: hidden;
}

.asdas {
  display: grid;
  grid-template-columns: 1fr auto;
}

.main-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 7px;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}
.main-container > div {
  flex: 1;
  background-color: rgb(30 41 59);
  border-radius: 15px;
  width: auto;
  padding: 15px;
}

/* Media queries for smaller screens */
@media screen and (max-width: 1500px) {
  .main-container {
    justify-content: flex-start; /* Or adjust as needed */
    gap: 15px;
    padding: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .main-container {
    justify-content: center; /* Or adjust as needed */
    gap: 10px;
    padding: 10px;
  }
}

/* Additional media queries for smaller screens */
@media screen and (max-width: 900px) {
  .main-container {
    justify-content: center; /* Or adjust as needed */
    gap: 5px;
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {
  .main-container > div {
    flex-basis: 100%;
  }
  .main-container {
    justify-content: center; /* Or adjust as needed */
    gap: 5px;
    padding: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .main-container > div {
    flex-basis: calc(50% - 10px); /* Two items in a row with some gap */
  }
}

@media screen and (max-width: 900px) {
  .main-container > div {
    flex-basis: calc(50% - 5px); /* Two items in a row with smaller gap */
  }
}

@media screen and (max-width: 500px) {
  .main-container > div {
    flex-basis: 100%; /* One item in a row */
  }
}

.first-child-1 {
  padding: 20px;
}
.project-title {
  font-size: 20px;
  margin: 10px;
  font-weight: 800;
}
.about {
  font-size: 15px;
  font-weight: 100;
  margin: 10px;
}

.modal-body {
  color: black;
}
/* main progress bar */
.graph {
  width: 200px;
  height: 200px;
  position: relative;
}
.outer {
  width: 200px;
  height: 200px;
  /* border:2px solid green; */
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(244, 244, 244, 0.15),
    -6px -6px 10px -1px rgba(11, 11, 11, 0.15);
}

.inner {
  width: 160px;
  height: 155px;
  /* border:2px solid red; */
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset 4px 4px 6px -1px rgba(0, 0, 0, 0.7), -0.5px -0.5px 0px rgb(31, 40, 51),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

#number {
  color: aliceblue;
  font-weight: 600px;
}

#circle {
  fill: none;
  stroke: rgb(21, 228, 56);
  stroke-width: 20px;
  stroke-dasharray: 560;
  stroke-dashoffset: 560;
  animation: animate 2s linear forwards;
}
#overall-progress-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

@keyframes animate {
  100% {
    stroke-dashoffset: 420;
  }
}

/* sub-progress bars */
.progress-bars,
.sub-progress-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.planning-bar-graph {
  width: 100px;
  height: 100px;
  position: relative;
}

.planning-bar-outer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: inset 2px 2px 3px -1px rgba(0, 0, 0, 0.2),
    inset 2px 2px 3px -1px rgba(0, 0, 0, 0.7), -0.5px -0.5px 0px rgb(31, 40, 51),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 6px 5px -5px rgba(0, 0, 0, 0.05);
}

.planning-bar-inner {
  width: 65px;
  height: 60px;
  border-radius: 50%;
  box-shadow: inset 2px 2px 3px -1px rgba(0, 0, 0, 0.2),
    inset 2px 2px 3px -1px rgba(0, 0, 0, 0.7), -0.5px -0.5px 0px rgb(31, 40, 51),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 6px 5px -5px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

#sub-bar-circle {
  fill: none;
  stroke-width: 13px;
  stroke-dasharray: 251.327;
  stroke-dashoffset: 251.327;
}

#planning-svg-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.planning-circle {
  stroke: #ff3300;
  animation: planning-animate 2s linear forwards;
}

.design-circle {
  stroke: #99ccff;
  animation: design-animate 2s linear forwards;
}

.development-circle {
  stroke: #3399ff;
  animation: development-animate 2s linear forwards;
}

.testing-circle {
  stroke: #cc33ff;
  animation: testing-animate 2s linear forwards;
}

@keyframes planning-animate {
  100% {
    stroke-dashoffset: 50;
  }
}

@keyframes design-animate {
  100% {
    stroke-dashoffset: 87;
  }
}

@keyframes development-animate {
  100% {
    stroke-dashoffset: 180;
  }
}

@keyframes testing-animate {
  100% {
    stroke-dashoffset: 245;
  }
}

/* progress name style */
.dot-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dot-list-item {
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 7px;
}

.dot {
  display: inline-block; /* Set the dot to display in a line with text */
  width: 10px; /* Adjust the width of the dot */
  height: 10px; /* Adjust the height of the dot */
  border-radius: 50%; /* Make the dot circular */
  margin-right: 5px; /* Add some spacing between the dot and text */
}

.red {
  background-color: #ff3300;
}
.light-blue {
  background-color: #99ccff;
}
.blue {
  background-color: #3399ff;
}
.purple {
  background-color: #cc33ff;
}

/* team members */

.team-members-div {
  padding: 20px;
}
.team-member-head-div {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 40px;
}
.team-member-text {
  font-size: 16px;
  font-weight: 500;
}
.see-all-btn {
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  font-weight: 600;
}

.see-all-btn:hover {
  background-color: #99ccff;
}

.team-list {
  border-radius: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list-item {
  display: grid;
  grid-template-columns: 1fr auto;
}

.member-img-div {
  display: flex;
  flex-direction: row;
}
.member-name {
  font-weight: 100;
  font-size: small;
}
.member-role {
  font: 100;
  font-size: x-small;
}
#member-profile-img {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

/* team member modal  */
.team-members-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modals-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  width: auto;
  color: black;
}

.modals-head-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 30px;
}
/* add task form css */
#addTaskModal {
  margin-top: 50px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Hover effect for form text */
.form-text:hover {
  color: #007bff;
  cursor: help;
}

/* Hover effect for form inputs */
.input-group-merge input:hover {
  border-color: #007bff;
}
.required:after {
  content: " *";
  color: red;
}
/* Hover effect for form textarea */
.form-control:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Style for the "Assigned To" select */
#assigned-to {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out;
}

#assigned-to:focus {
  outline: none;
  border-color: #007bff;
}

#assigned-to option[disabled] {
  color: #6c757d;
}

/* Style for the "Priority" select */
#priority {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out;
}

#priority:focus {
  outline: none;
  border-color: #007bff;
}

#priority option[disabled] {
  color: #6c757d;
}

/* second child -3 */

/* meetings table */

.table > thead {
  font-size: 20px;
}
.table > thead > tr {
  font-size: 20px;
}
